h1{
    background-color: aqua;
}
h2{
    background-color: lightgreen;
    font-family: Algerian;
    text-align: center;
    color: red;
    font-size: 30px;
    border: 5px double black;
}
p{
    border: 10px dashed rgb(114, 54, 235);
    font-size: 30px;
    text-align: justify;
}